{% include 'header.html' %}
<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="img/header-bg/1.jpg">
		<div class="container">
			<h2>Tips & Tricks</h2>
		</div>
	</section>
	<!-- Page top section end -->

		<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
                    {% for post in post_list %}
                    <div class="blog-post review-post">
						<img src="{{ post.image.url }}" alt="">
						<div class="post-date">{{ post.create_at | date:'M d, Y' }}</div>
						<h3>{{ post.title }} </h3>
						<div class="post-metas">
							<div class="post-meta">{{ post.author }}</div>
							<div class="post-meta">in <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></div>
							<div class="post-meta"> {{ post.comment.count }} Comments</div>
                        </div>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<p>{{ post.text | slice:':250' }}</p>
						<a href="{{ post.get_absolute_url }}" class="site-btn">Read more</a>
					</div>
                    {% endfor %}
                    {% include 'blog/include/pagination.html' %}
				</div>
				{% include 'blog/include/sidebar.html' %}
		</div>
		</div>
	</section>
	<!-- Blog section end -->
{% include 'footer.html' %}